.contact{
    background: url("/images/bg.jfif");
}

.contact-title{
    position: relative;
    font-family: Georgia;
    font-weight: bold;
    font-size:3em;
    color: burlywood;
}

.contact-content{
    position:relative;
    font-family: Arial;
    font-size: 18px;
    color:rgb(247, 242, 242);
}
